ipykernel
ipywidgets
nbformat
openpyxl
pandas
plotly
prophet
seaborn
statsmodels
tensorflow
xgboost
neuralforecast
torch 
torchvision 
torchaudio
autogluon
nbformat==5.10.4
nbconvert==7.16.6
